<nav>
  <div class="nav-wrapper green">
    <a href="#!" class="brand-logo">Pages</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn">Serviços</a></li>
      <li><a href="#">alterar</a></li>
    </ul>
  </div>
</nav>